<app-modal #modal></app-modal>
<app-deleteModal #deleteModal></app-deleteModal>
<app-editModal #editModal></app-editModal>

<div class="main_container" *ngIf="!isAdmin || !hasAuth">
    <h2 id="tableLabel">Admin login page</h2>
    <br>

    <input placeholder="login" [(ngModel)]="login" class="login_input">
    <br>
    <br>
    <input placeholder="password" [(ngModel)]="password" type="password" class="password_input">
    <br>
    <br>
    <button (click)="signin()" class="signin_button" >Sign In</button>
</div>

<div *ngIf="isAdmin && hasAuth">
    <h1 [routerLink]="['/']">Airline Flights</h1>
    <p *ngIf="!flights"><em>Loading...</em></p>
    <button (click)="openModal()" class="open_create_modal">Create New Flight</button>
    <button (click)="logout()" class="logout">Logout</button>
    <br>
    <br>


    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flights">
        <thead>
            <tr>
                <td>ID</td>
                <td>Flight Number</td>
                <td>From City</td>
                <td>To City</td>
                <td>Departure Time</td>
                <td>Arrival Time</td>
                <td>Status</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flights">
                <td>{{ flight.id }}</td>
                <td>{{ flight.flightNumber }}</td>
                <td>{{ flight.fromCity }}</td>
                <td>{{ flight.toCity }}</td>
                <td>{{ flight.departureTime }}</td>
                <td>{{ flight.arrivalTime }}</td>
                <td>{{ flight.status }}</td>
                <td> <input type="image" src="../assets/edition.png " (click)="openEditModal(flight)" class="open_edit_modal" /></td>
                <td> <input type="image" src="../assets/delete.png" (click)="openDeleteModal(flight.id)" class="open_delete_modal" /> </td>
            </tr>
        </tbody>
    </table>
</div>