.main_container {
  width: 300px;
  margin: auto;
}


h1 {
  cursor: pointer;
}


.login_input {
  width: 300px;
  height: 40px;
  line-height: 32px;
  border-radius: 5px;
  color: #000;
  border: 1px solid black;
  padding: 2px 5px;
}

.password_input {
  width: 300px;
  height: 40px;
  line-height: 32px;
  border-radius: 5px;
  color: #000;
  border: 1px solid black;
  padding: 2px 5px;
}

.signin_button {
  width: 80px;
  height: 40px;
  background-color: #00AD71;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
}

.open_create_modal {
  width: 150px;
  height: 40px;
  background-color: #399BFC;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 16px;
}

.logout {
  width: 150px;
  height: 40px;
  background-color: #399BFC;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
  margin-top: 16px;
}