.container2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  height: 500px;
}


.inputArea {
  width: 300px;
  height: 40px;
  line-height: 32px;
  border-radius: 5px;
  color: #000;
  border: 1px solid black;
  padding: 2px 5px;
}

.submit_create {
  width: 80px;
  height: 40px;
  background-color: #00AD71;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
}

.close_modal {
  width: 50px;
  height: 25px;
  font-size: 14px;
  background-color: #FF0000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
}