.container4 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.content3 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 50px 20px;
  border: 1px solid #888;
  width: 500px;
}


.submit_delete {
  width: 120px;
  height: 25px;
  font-size: 14px;
  background-color: #00AD71;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
}

.close_modal {
  width: 90px;
  height: 25px;
  font-size: 14px;
  background-color: #FF0000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  float: right;
}
