<h1 [routerLink]="['/']">Airline Flights</h1>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="flights">
    <thead>
        <tr>
            <td>ID</td>
            <td>Flight Number</td>
            <td>From City</td>
            <td>To City</td>
            <td>Departure Time</td>
            <td>Arrival Time</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let flight of flights">
            <td>{{ flight.id }}</td>
            <td>{{ flight.flightNumber }}</td>
            <td>{{ flight.fromCity }}</td>
            <td>{{ flight.toCity }}</td>
            <td>{{ flight.departureTime }}</td>
            <td>{{ flight.arrivalTime }}</td>
            <td>{{ flight.status }}</td>
        </tr>
    </tbody>
</table>
